# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.lock

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# FastAPI/uvicorn logs
*.log

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Others
*.swp
*~
